html * { font-size:medium !important; color: rgb(255, 255, 255) !important; font-family: 'Poppins', sans-serif !important; }

.mano{
  cursor:pointer;
}

.sombra{
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.44); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.44);
}

.paddingSuperiorInferior{
  padding-top: 2%;
  padding-bottom: 2%;
}

.contenedorGaleria{
  width: 100%;
  height: auto;
  background: #008a8a;
  flex-wrap: wrap;
}

.padding1{
  padding: 2%;
}

.borde1{
  border-radius:50%;
}

.espacioEquilatero{
  justify-content: space-between;
}

@media (max-width: 640px) {
  .espacioEquilatero{
    justify-content:center;
  }
}

.slide.esconder{
  display: none;
}

.slide{
  animation: aparecer 2s;
}

@keyframes aparecer {
  from { opacity: 0; }
  to {opacity: 1; }
}

.color1{
  background: #343b41;
}

.color2{
  background: #c54906;
}

.flex{
    display: flex;
}

.block{
  display: block;
}

