<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nona</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link href="../static/css/index.css" rel="stylesheet"> 
</head>
<!--    ActualizarMostrario2('adelante')  -->
<body onload="correr()">   
    <div id="padre" class="">
        <!--para el menu--> 
        <div id="menu" class="sticky"></div>
        <!--para el slide-->
        <div id="contenedor1" class="padding1"></div> 
    </div>
    
    
</body>
<script src="../static/js/ajustadorTamanosContenedores.js"></script>
<script src="../static/js/crecer.js"></script>
<script src="../static/js/menu.js"></script>
<script src="../static/js/correr.js"></script>
</html>