<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nona</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link href="../static/css/index.css" rel="stylesheet"> 
</head>
<body onload="ActualizarMostrario2('adelante')">   
    <div id="padre"></div>
    <div id="contenedor1" class="contenedor1 padding1 relativo"></div>   
    
</body>
<!--script src="../static/js/slideGalery.js"></!--script!-->
<script src="../static/js/ajustadorTamanosContenedores.js"></script>
<script src="../static/js/crecer.js"></script>
</html>